.fade {
    opacity: 0;
    transition: opacity 2s;
}

.dotted {
    border-left: 5px dotted black;
    margin-bottom: -10px;
}


#fade2 {
    opacity: 0;
    transition: opacity 0.5s;
}

.color{
    transition:background-color 0.5s;
    background-color: #00b3ff13;
}

.dataset1:hover,.dataset2:hover,.dataset3:hover{
    scale: 1.03;
        
}

.btn-success:hover{
    scale: 1.03;
    background-color:green;
}
